# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.egg-info/
*.egg
*.sqlite3
db.sqlite3

# Virtual environments
# venv/
env/
.venv/
ENV/
backend/venv

# Flask specific
instance/
*.log

# Environment
.env
